<!-- The show.erb will SHOW the specific post and display it by refercing the instance variable -->
<div class="micro_post">
  <h1><%= @micro_post["blog_title"] %></h1>
  <p>by: <%= @micro_post["author"] %></p>
  <div><%= @micro_post["blog_body"] %></div>
  <div><%= @micro_post["tags"] %> </div>
</div>

<% id = @micro_post["id"] %>

<form action=<%= "/add_tag/#{id}" %> method="POST">
  <input type="text" name="tags" class="small_form">
  <input type="hidden" name="blog_title" value="<%= @micro_post["blog_title"]%>" >
  <input type="hidden" name="author" value="<%= @micro_post["author"] %>" >
  <input type="hidden" name="blog_body" value="<%= @micro_post["blog_body"] %>" >
  <input type="submit", value="Add Tags">
</form>


<a href=<%= "/micro_post/#{id}/edit" %>> Edit Post </a>

<form action=<%= "/micro_post/#{id}"%> method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
